
  <div id="footer" class="row">
    <div id="footerbar" class="container">
      <div class="row footer-title">
        <h6>АЗАРТНЫЕ ИГРЫ</h6>
        <a href="/" class="href">СМОТРЕТЬ ВСЕ</a>
      </div>

      <ul class="row footer-content">
        <li>
          <img src="/assets/images/roul_1.png" />

          <a>Игра денег Игровой автомат</a>
        </li>

        <li>
          <img src="/assets/images/roul_2.png" />
          <a>Игровой автомат Banana splash</a>
        </li>

        <li>
          <img src="/assets/images/roul_3.png" />
          <a>Игровой автомат онлайн Sharky Gaminator</a>
        </li>

        <li>
          <img src="/assets/images/roul_4.png" />
          <a>Игровой автомат Gaminator Book</a>
        </li>

        <li>
          <img src="/assets/images/roul_5.png" />
          <a>И вновь,мы представляем Вашему</a>
        </li>
        <li>
          <img src="/assets/images/roul_8.png" />

          <a>Добро пожаловать </a>
        </li>
      </ul>
    </div>
  </div>

