<div class="col" id="sidebar">
  <div class="sidebar-top">
    <div>
      <h5>
        <img src="/assets/images/layer.png" /><b>Казино</b> онлайн ТОР 7
      </h5>
    </div>
    <div>
      <img src="/assets/images/layer1.png" /> Казино

      <button class="play-control">
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>

    <div>
      <img src="/assets/images/layer1.png" /> Казино<button>
        играть
      </button>
    </div>
    <div>
      <a href="/" class="href">весь рейтинг казино</a>
    </div>
  </div>

  <div class="bonus">
    <h4><img src="/assets/images/logo3.png" />Бонусы и акции</h4>
    <div>
      <div><img src="/assets/images/roul_1.png" /></div>
      <a>Игровой автомат Игра денег</a>

      <button>играть</button>
    </div>
    <hr />
    <div>
      <div><img src="/assets/images/roul_2.png" /></div>
      <a>Игровой автомат Banana splash</a>
      <button>играть</button>
    </div>
    <hr />
    <div>
      <div><img src="/assets/images/roul_3.png" /></div>
      <a>Игровой автомат онлайн Sharky Gaminator</a>
      <button>играть</button>
    </div>
    <hr />
    <div>
      <div><img src="/assets/images/roul_4.png" /></div>
      <a>Игровой автомат Gaminator Book</a>
      <button>играть</button>
    </div>
    <hr />
  </div>

  <div class="casino">
    <h4><img src="/assets/images/logo4.png" />Скачать казино</h4>

    <div>
      <div><img src="/assets/images/roul_1.png" /></div>
      <a>Игровой автомат Игра денег</a>
      <button>играть</button>
    </div>
    <hr />
    <div>
      <div><img src="/assets/images/roul_2.png" /></div>
      <a>Игровой автомат Banana splash</a>
      <button>играть</button>
    </div>
    <hr />
    <div>
      <div><img src="/assets/images/roul_3.png" /></div>
      <a>Игровой автомат онлайн Sharky Gaminator</a>
      <button>играть</button>
    </div>
    <hr />

    <div>
      <div><img src="/assets/images/roul_4.png" /></div>
      <a>Игровой автомат Gaminator Book</a>
      <button>играть</button>
    </div>
    <hr />
  </div>
</div>