#content-bottom .avtomat-roulette {
    padding-top: 35px;
  }
  
  #content-bottom .avtomat {
    padding: 10px 15px;
    border: 1px solid #869290;
    margin-right: -10px;
  }
  #content-bottom .avtomat-2 ul {
    list-style-type: none;
  }
  #content-bottom .avtomat-2 ul {
    display: flex;
    flex-direction: column;
  }
  
  #content-bottom .avtomat-2 ul li {
    height: 70px;
    display: flex;
    flex-direction: row;
  }
  
  #content-bottom .avtomat-2 ul {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    padding-left: unset;
  }
  #content-bottom .avtomat-2 ul li .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #content-bottom .avtomat-2 ul button {
    align-self: flex-end;
    margin-top: auto;
    margin-left: auto;
  }
  
  #content-bottom .avtomat-2 div a {
    font-size: smaller;
  }
  #content-bottom .avtomat-1 a {
    padding-top: 15px;
  }
  
  #content-bottom .header-avtomat a {
    margin-left: 380px;
  }
  #content-bottom .avtomat-1 img {
    width: 210px;
  }
  #content-bottom .avtomat-1 {
    display: flex;
    flex-direction: column;
  }
  #content-bottom .avtomat-1 button {
    width: 55px;
    margin-left: auto;
  }
  
  #content-bottom .roulette {
    margin-right: -10px;
  }
  #content-bottom .roulette {
    padding: 10px 15px;
    border: 1px solid #869290;
  }
  
  #content-bottom .header-roulette a {
    margin-left: 380px;
  }
  
  #content-bottom .roulette-1 a {
    padding-top: 15px;
  }
  
  #content-bottom .roulette-1 {
    display: flex;
    flex-direction: column;
  }
  #content-bottom .roulette-1 button {
    width: 55px;
    margin-left: auto;
  }
  
  #content-bottom .roulette-2 ul {
    list-style-type: none;
  }
  #content-bottom .roulette-2 ul {
    display: flex;
    flex-direction: column;
  }
  
  #content-bottom .roulette-2 ul li {
    height: 70px;
    display: flex;
    flex-direction: row;
  }
  
  #content-bottom .roulette-2 ul {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    padding-left: unset;
  }
  #content-bottom .roulette-2 ul li .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #content-bottom .roulette-2 ul button {
    align-self: flex-end;
    margin-top: auto;
    margin-left: auto;
  }
  
  #content-bottom .roulette-2 div a {
    font-size: smaller;
  }
  
  #content-bottom .news div img {
    width: 215px;
  }
  
  #content-bottom .news div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  #content-bottom .news li {
    font-size: larger;
    list-style: none;
    padding-bottom: 7px;
    padding-top: 7px;
  }
 
  #content-bottom .news div + a {
    padding-top: 15px;
  }
 
  
  #content-bottom .row button {
    height: 20px;
  }
  #content-bottom .row {
    font-size: 12px;
  }
  #content-bottom li .image1 {
    display: flex;
    padding-bottom: 5px;
    margin-right: 5px;
  }
  #content-bottom li .image2 {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 5px;
  }
  #content-bottom li .image3 {
    display: flex;
    margin-right: 5px;
    padding-top: 5px;
  }
  #content-bottom li .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
  #content-bottom li .info button {
    align-self: flex-end;
    margin-top: auto;
    margin-left: auto;
  }
  
  #content-bottom .href  {
    font-size: 14px;
    color: black;
    font-style: italic;
  }
 #content-bottom .news .info {
   font-size: 13px;
 }
  
  
 