<div id="content" class="row">
  <div id="featured" class="row">
    <div class="col-md-8 slider">
      <h5>Видеопокер</h5>
      <img src="/assets/images/video_slider.png" />
    </div>
    <div class="col-md-4 new-games">
      <div>
        <h4><img src="/assets/images/logo1.png" />Новые игры</h4>
      </div>
      <ul>
        <li>
          <div class="image1">
            <img src="/assets/images/roul_1.png" />
          </div>
          <div class="info">
            <a>Игровой автомат</a>
            <a>Игра денег</a>
            <button>играть</button>
          </div>
        </li>

        <li>
          <div class="image2">
            <img src="/assets/images/roul_2.png" />
          </div>
          <div class="info">
            <a>Игровой автомат</a>
            <a>Banana splash</a>

            <button>играть</button>
          </div>
        </li>

        <li>
          <div class="image3">
            <img src="/assets/images/roul_3.png" />
          </div>
          <div class="info">
            <a>Игровой автомат</a>
            <a>онлайн Sharky Gaminator</a>

            <button>играть</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="popular" class="row popular">
    <div class="popular-title">
      <h5><img src="/assets/images/logo2.png" />Популярные</h5>
      <a href="/" class="href">СМОТРЕТЬ ВСЕ</a>
    </div>
    <ul>
      <li>
        <img src="/assets/images/roul_1.png" />

        <a href="/" class="href">Игра денег Игровой автомат</a>
        <button>играть</button>
      </li>

      <li>
        <img src="/assets/images/roul_2.png" />
        <a href="/" class="href">Игровой автомат Banana splash</a>
        <button>играть</button>
      </li>

      <li>
        <img src="/assets/images/roul_3.png" />
        <a href="/" class="href">Игровой автомат онлайн Sharky Gaminator</a>

        <button>играть</button>
      </li>

      <li>
        <img src="/assets/images/roul_4.png" />
        <a href="/" class="href">Игровой автомат Gaminator Book</a>

        <button>играть</button>
      </li>

      <li>
        <img src="/assets/images/roul_5.png" />
        <a href="/" class="href">И вновь,мы представляем Вашему</a>
        <button>играть</button>
      </li>
    </ul>
  </div>
</div>
