<main>
  <div id="main" class="container">
    <div class="row">
      <div class="col-md-3" id="sidebar">
        <div class="sidebar-top">
          <div>
            <h5>
              <img src="/assets/images/layer.png" /><b>Казино</b> онлайн ТОР 7
            </h5>
          </div>
          <div>
            <img src="/assets/images/layer1.png" /> Казино

            <button class="play-control">
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>

          <div>
            <img src="/assets/images/layer1.png" /> Казино<button>
              играть
            </button>
          </div>
          <div>
            <a href="/" class="href">весь рейтинг казино</a>
          </div>
        </div>

        <div class="bonus">
          <h4><img src="/assets/images/logo3.png" />Бонусы и акции</h4>
          <div>
            <div><img src="/assets/images/roul_1.png" /></div>
            <a>Игровой автомат Игра денег</a>

            <button>играть</button>
          </div>
          <hr />
          <div>
            <div><img src="/assets/images/roul_2.png" /></div>
            <a>Игровой автомат Banana splash</a>
            <button>играть</button>
          </div>
          <hr />
          <div>
            <div><img src="/assets/images/roul_3.png" /></div>
            <a>Игровой автомат онлайн Sharky Gaminator</a>
            <button>играть</button>
          </div>
          <hr />
          <div>
            <div><img src="/assets/images/roul_4.png" /></div>
            <a>Игровой автомат Gaminator Book</a>
            <button>играть</button>
          </div>
          <hr />
        </div>

        <div class="casino">
          <h4><img src="/assets/images/logo4.png" />Скачать казино</h4>

          <div>
            <div><img src="/assets/images/roul_1.png" /></div>
            <a>Игровой автомат Игра денег</a>
            <button>играть</button>
          </div>
          <hr />
          <div>
            <div><img src="/assets/images/roul_2.png" /></div>
            <a>Игровой автомат Banana splash</a>
            <button>играть</button>
          </div>
          <hr />
          <div>
            <div><img src="/assets/images/roul_3.png" /></div>
            <a>Игровой автомат онлайн Sharky Gaminator</a>
            <button>играть</button>
          </div>
          <hr />

          <div>
            <div><img src="/assets/images/roul_4.png" /></div>
            <a>Игровой автомат Gaminator Book</a>
            <button>играть</button>
          </div>
          <hr />
        </div>
      </div>

      <div id="content" class="col-md-9">
        <div id="featured" class="row">
          <div class="col-md-8 slider">
            <h5>Видеопокер</h5>
            <img src="/assets/images/video_slider.png" />
          </div>
          <div class="col-md-4 new-games">
            <div>
              <h4><img src="/assets/images/logo1.png" />Новые игры</h4>
            </div>
            <ul>
              <li>
                <div class="image1">
                  <img src="/assets/images/roul_1.png" />
                </div>
                <div class="info">
                  <a>Игровой автомат</a>
                  <a>Игра денег</a>
                  <button>играть</button>
                </div>
              </li>

              <li>
                <div class="image2">
                  <img src="/assets/images/roul_2.png" />
                </div>
                <div class="info">
                  <a>Игровой автомат</a>
                  <a>Banana splash</a>

                  <button>играть</button>
                </div>
              </li>

              <li>
                <div class="image3">
                  <img src="/assets/images/roul_3.png" />
                </div>
                <div class="info">
                  <a>Игровой автомат</a>
                  <a>онлайн Sharky Gaminator</a>

                  <button>играть</button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="popular" class="row popular">
          <div class="popular-title">
            <h5><img src="/assets/images/logo2.png" />Популярные</h5>
            <a href="/" class="href">СМОТРЕТЬ ВСЕ</a>
          </div>
          <ul>
            <li>
              <img src="/assets/images/roul_1.png" />

              <a href="/" class="href">Игра денег Игровой автомат</a>
              <button>играть</button>
            </li>

            <li>
              <img src="/assets/images/roul_2.png" />
              <a href="/" class="href">Игровой автомат Banana splash</a>
              <button>играть</button>
            </li>

            <li>
              <img src="/assets/images/roul_3.png" />
              <a href="/" class="href"
                >Игровой автомат онлайн Sharky Gaminator</a
              >

              <button>играть</button>
            </li>

            <li>
              <img src="/assets/images/roul_4.png" />
              <a href="/" class="href">Игровой автомат Gaminator Book</a>

              <button>играть</button>
            </li>

            <li>
              <img src="/assets/images/roul_5.png" />
              <a href="/" class="href">И вновь,мы представляем Вашему</a>
              <button>играть</button>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-8 avtomat-roulette">
            <div class="row ">
              <div class="header-avtomat">
                <h5><img src="/assets/images/logo5.png" />Игровые автоматы</h5>
                <a href="/" class="href">СМОТРЕТЬ ВСЕ</a>
              </div>
              <div class="row avtomat">
                <div class="col-6 avtomat-1">
                  <div><img src="/assets/images/roul_6.png" /></div>
                  <a href="/" class="href">Игровой автомат Игра денег</a>С
                  самого момента появления денежных знаков кащдый человек
                  старается заработать их себе,как можно в
                  <button>играть</button>
                </div>
                <div class="col-6 avtomat-2">
                  <ul>
                    <li>
                      <div class="image1">
                        <img src="/assets/images/roul_2.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>Banana splash</a>
                        <button>играть</button>
                      </div>
                    </li>

                    <li>
                      <div class="image2">
                        <img src="/assets/images/roul_3.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>онлайн Sharky Gaminator</a>
                        <button>играть</button>
                      </div>
                    </li>

                    <li>
                      <div class="image3">
                        <img src="/assets/images/roul_4.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>Gaminator Book</a>

                        <button>играть</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="header-roulette">
                <h5><img src="/assets/images/logo6.png" />Рулетки</h5>
                <a href="/" class="href">СМОТРЕТЬ ВСЕ</a>
              </div>
              <div class="row roulette">
                <div class="col-6 roulette-1">
                  <img src="/assets/images/roul_6.png" /><a
                    href="/"
                    class="href"
                    >Игровой автомат Игра денег</a
                  >С самого момента появления денежных знаков кащдый человек
                  старается заработать их себе,как можно в
                  <button>играть</button>
                </div>
                <div class="col-6 roulette-2">
                  <ul>
                    <li>
                      <div class="image1">
                        <img src="/assets/images/roul_2.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>Banana splash</a>
                        <button>играть</button>
                      </div>
                    </li>

                    <li>
                      <div class="image2">
                        <img src="/assets/images/roul_3.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>онлайн Sharky Gaminator</a>
                        <button>играть</button>
                      </div>
                    </li>

                    <li>
                      <div class="image3">
                        <img src="/assets/images/roul_4.png" />
                      </div>
                      <div class="info">
                        <a>Игровой автомат</a>
                        <a>Gaminator Book</a>

                        <button>играть</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="news">
              <h4><img src="/assets/images/logo7.png" />Новости</h4>

              <div>
                <div><img src="/assets/images/roul_6.png" /></div>

                <a href="/" class="href">Игровой автомат Игра денег</a>
                <a
                  >С самого момента появления денежных знаков кащдый человек
                  старается заработать их себе,как можно в большем
                  количестве.Но,как говорится,</a
                >
              </div>
              <div>
                <div><img src="/assets/images/roul_7.png" /></div>

                <a href="/" class="href"> Игровой автомат Banana splash</a>
                <a>
                  Вы когда-нибудь видели,чтобы фрукты оживали и отправлялись в
                  поездку на морское побережье отдохнуть?Если нет,то игровой
                  автомат Banana Splash от
                </a>

                <ul>
                  <li>
                    <a href="/" class="href"
                      >Игровой автомат онлайн Sharky Gaminator
                    </a>
                  </li>
                  <li>
                    <a href="/" class="href">Игровой автомат Gaminator Book </a>
                  </li>
                  <li>
                    <a href="/" class="href">И вновь,мы представляем Вашему </a>
                  </li>
                  <li>
                    <a href="/" class="href">Добро пожаловать </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
